@page "/urunraporlari"
@using EYS.UseCases.Raporlar

@rendermode InteractiveServer

@inject IUrunAramaIslemleriUseCase UrunAramaIslemleriUseCase
@inject IJSRuntime JSRuntime

<h3>Ürün İşlemleri</h3>
<br />

<div id="yazdirma">
    <div class="row">
        <div class="col">
            <label for="urn">Ürün Adı</label>
            <input type="text" id="urn" class="form-control" @bind-value="urnAdi" />
        </div>
        <div class="col">
            <label for="ti">Tarihten İtibaren</label>
            <input type="date" id="ti" class="form-control" @bind-value="tarihtenItibaren" />
        </div>
        <div class="col">
            <label for="tk">Tarihe Kadar</label>
            <input type="date" id="tk" class="form-control" @bind-value="tariheKadar" />
        </div>
        <div class="col">
            <label for="at">Aksiyon Tipi</label>
            <select id="at" class="form-control" @bind="AksiyonTipiId">
                <option value="0"></option>
                <option value="1">Ürün Üretim</option>
                <option value="2">Ürün Satış</option>
                </select>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary form-control" @onclick="UrunArama">Ara</button>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary form-control" @onclick="Yazdir">Yazdır</button>
        </div>
    </div>

    @if (urunIslemleri != null && urunIslemleri.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>İşlem Tarihi</th>
                    <th>Urun</th>
                    <th>Aksiyon</th>
                    <th>Önceki Adet</th>
                    <th>Sonraki Adet</th>
                    <th>Birim Fiyatı</th>
                    <th>Satış Numarası</th>
                    <th>Üretim Numarası</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ei in urunIslemleri) {
                    <tr>
                        <td>@ei.IslemZamani.ToString("dd/MM/yyyy")</td>
                        <td>@ei.urun.UrunIsim</td>
                        <td>
                            @if (ei.AksiyonTipi == UrunIslemTipi.UrunUret)
                            {
                                <text>Üretim</text>
                            }
                            else if (ei.AksiyonTipi == UrunIslemTipi.UrunSat)
                            {
                                <text>Satış</text>
                            }
                        </td>
                        <td>@ei.OncekiAdet</td>
                        <td>@ei.SonrakiAdet</td>
                        <td>@ei.AdetFiyati?.ToString("c")</td>
                        <td>@ei.SNumarasi</td>
                        <td>@ei.UretimNumarasi</td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>
@code {

    private string urnAdi;
    private DateTime? tarihtenItibaren;
    private DateTime? tariheKadar;
    private int AksiyonTipiId;
    private IEnumerable<UrunIslem>? urunIslemleri;

    private async Task UrunArama()
    {
        UrunIslemTipi? urnTipi = null;

        if(AksiyonTipiId != 0)
        {
            urnTipi = (UrunIslemTipi)AksiyonTipiId;
        }

        urunIslemleri = await UrunAramaIslemleriUseCase.ExecuteAsync(
            urnAdi,
            tarihtenItibaren,
            tariheKadar,
            urnTipi
        );
    }

    private async Task Yazdir()
    {
        await JSRuntime.InvokeVoidAsync("print");
    }
}
